*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.main-page{
  background-color: #f3f7ff;
  padding: 1em;
  margin: auto;
  /* width: 60%; */

}
.categories{
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  /* padding: 0.7rem 0.5rem; */
}

.categories-card{
 background-color: rgb(21, 21, 91); 
 border-radius: 5px;
 color: white;
 padding: 0.7em 0.4em;
 margin: auto 5em;
 font-size: 0.7em;
 min-width: 15%;
 box-shadow: 0px 6px 5px 2px rgba(0,0,0,0.2),
 0px 6px 5px -3px rgba(0,0,0,0.3);
text-align: center;



}

.title{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin:  2em auto 0 auto;
  padding: 4px 8px;
}

.title2{
  display: flex;
  justify-content: space-evenly;
  margin: 0 2.2em;
}

.title2 p{
  padding: 0 5.5px;
}
.item{
  background-color: white;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  padding: 1rem 0.9rem;
  width: 50%;
  align-items: center;
  text-align: center;
  box-shadow: 0px 6px 5px 2px rgba(0,0,0,0.2),
            0px 6px 5px -3px rgba(0,0,0,0.3);
}

.item-name{
  display: flex;
  justify-content: space-evenly; 
}
.check{
 
  padding: 0 5px;
  
  /* margin-top: 10px; */
  min-height: 15px;
  min-width: 18px;
  margin-right: 10px;
  min-height: 20%;

}

.item-name p{
  margin: auto;
  padding: 5px 4px;
  font-size: 1.2em;
 

}
.item-price{
  display: flex;
 
  justify-content: space-between;
}

.item-price p{
  padding: 0 9px;
  margin: auto;
}

.item-price button{
  background-color: red;
  border: none;
  padding: 1px 4px;
  color: white;
}

.amount{
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
}

.amount h4{
  background-color: rgb(240, 236, 236);
  border-radius: 7px;
  
  padding: 0.5rem 1rem;
  
  align-items: center;
  text-align: center;
  box-shadow: 0px 6px 5px 2px rgba(0,0,0,0.2),
  0px 6px 5px -3px rgba(0,0,0,0.3);
}

.amounts h4{
  background-color: rgb(254, 252, 252);
  border-radius: 7px;
  margin: 8px auto;
  padding: 0.5rem 1.3rem;
  width: 15%;
  
  align-items: center;
  text-align: center;
  box-shadow: 0px 6px 3px 2px rgba(95, 94, 94, 0.2),
  0px 6px 3px -3px rgba(121, 120, 120, 0.3);
}




@media screen and (max-width: 600px) {
  .categories-card{
   
    padding: 0.5em 1.3em;
    margin: auto 5em;
    font-size: 0.5em;
    /* width: 20%; */
    
   
   
   }
   
   .title{
     display: flex;
     justify-content: space-between;
     width: 70%;
     margin:  2em auto 0 auto;
     padding: 4px 8px;
   }
   
   
   
   
   .item{
     
     width: 70%;
    
   }
   
   
  
}