*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

/* dark mode */

:root{
  --primary-color: rgb(21, 21, 91);
  --secondary-color: #f3f7ff;
}

html{
  transition: all 0.5s ease-in;
}

html.dark{
  --primary-color: white;
    --secondary-color: #333;
}

html.dark{
  background-color: black;
  color: var(--primary-color);

}

.toggle{
  background-color: var(--primary-color) ;
  color: var(--secondary-color);
  border: none;
  padding: 10px 12px;
  border-radius: 4px;
  /* position: absolute;
  top: 100px; */


}


.App {
  /* text-align: center; */
  background-color: #f3f7ff;
  margin-top: auto;
  padding: 1em;
  min-height: 100vh;
}

.main-page{
  text-align: center;
  padding: 1em;
  /* margin: auto; */
  /* width: 60%; */

}
.categories{
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  /* padding: 0.7rem 0.5rem; */
}

.categories-card{
 background-color: rgb(21, 21, 91); 
 border-radius: 5px;
 color: white;
 padding: 0.7em 0.4em;
 margin: auto 5em;
 font-size: 0.7em;
 min-width: 15%;
 box-shadow: 0px 6px 5px 2px rgba(0,0,0,0.2),
 0px 6px 5px -3px rgba(0,0,0,0.3);
text-align: center;
}

.title{
  display: flex;
  justify-content: space-between;
  width: 45%;
  margin:  1em auto 0px auto ;
  padding: 1px 8px;
 font-weight: bold;
}

.title2{
  display: flex;
  justify-content: space-around;
  margin: 0 ;
}

.title2 p{
  padding: 0 5.5px;
}
.item{
  background-color: white;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  padding: 1rem 0.9rem;
  width: 50%;
  align-items: center;
  text-align: center;
  box-shadow: 0px 6px 5px 2px rgba(0,0,0,0.2),
            0px 6px 5px -3px rgba(0,0,0,0.3);
}

.item-name{
  display: flex;
  justify-content: space-evenly; 
}
.check{
 
  padding: 0 5px;
  
  /* margin-top: 10px; */
  min-height: 15px;
  min-width: 18px;
  margin-right: 10px;
  min-height: 20%;

}

.item-name p{
  margin: auto;
  padding: 5px 4px;
  font-size: 1.2em;
 

}
.item-price{
  display: flex;
 
  justify-content: space-between;
}

.item-price p{
  padding: 0 9px;
  margin: auto;
}

.item-price button{
  background-color: red;
  border: none;
  padding: 1px 4px;
  color: white;
}

.amount{
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
}

/* .amount h4{
  background-color: rgb(240, 236, 236);
  border-radius: 7px;
  
  padding: 0.5rem 1rem;
  
  align-items: center;
  text-align: center;
  box-shadow: 0px 6px 5px 2px rgba(0,0,0,0.2),
  0px 6px 5px -3px rgba(0,0,0,0.3);
} */

 .all h4{
  background-color: rgb(254, 252, 252);
  border-radius: 7px;
  margin: 8px 16px;
  padding: 0.3rem ;

  min-width: 15%;
  
  align-items: center;
  text-align: center;
  box-shadow: 0px 6px 3px 2px rgba(145, 145, 145, 0.2),
  0px 6px 3px -2px rgba(178, 178, 178, 0.3);
}

.not{
  color: rgb(21, 21, 91);
  font-size: 1.2em;
  padding-top: 14px;
}

.all{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  
  
}

.all button{
 
  margin: auto;
  padding: 5px 10px;
}

.form-but{
  text-align: right;
  display: "flex";
  width: 1000;
  margin: 1em 21em;
  padding: 30;
}

.total-btn{
  border: none;
  background-color: rgb(21, 135, 235);
  padding: 6px 12px;
  color: white;
  margin: 1em auto;
  border-radius: 5px;
}

.btn-top{
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
}

.logout{
  background-color: rgb(21, 21, 91);
  padding: 6px 15px;
  border-radius: 7px;
  border: none;
  color: white;
}

@media screen and (max-width: 600px) {
  .categories-card{
   
    padding: 0.5em 1.3em;
    margin: auto 5em;
    font-size: 0.5em;
    /* width: 20%; */
   }
   
   .title{
     display: flex;
     justify-content: space-between;
     width: 70%;
     margin:  2em auto 0 auto;
     padding: 4px 8px;
   }
   
   
   .item{
     
     width: 70%;
    
   }
   
   .form-but{
     
     margin: 1em 3em;
   }
  /* .App{
    min-height: 70vh;
  } */
  
  
  .categories-card{
    
    margin: auto 2em;
    font-size: 0.7em;
    min-width: 38%;
    
   }
   .all h4{
     width: 39%;
   }

   .item{
    
    margin: 0.2rem 0px;
    padding: 1rem 0.9rem;
    width: 100%;
    font-size: 1em;
    
    box-shadow: 0px 3px 2px 2px rgba(110, 109, 109, 0.2),
              0px 3px 2px -1px rgba(92, 91, 91, 0.3);
  }
  
  /* main .item{
    width: 90%;
  } */
  .item-name{
    display: flex;
    justify-content: space-evenly; 
  }
  
  .title{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin:  0.1em 25px auto 30px ;
    padding: 1px 8px;
    font-size: 0.9em;
   font-weight: bold;
  }
  
  .title2{
    display: flex;
    justify-content: space-between;

    margin: 0 12px ;
  }
  
  .title2 p{
    padding: 0 9.5px;
    word-wrap: break-word;
    font-size: 0.9em;
  }
   
}